/* styling for tablet and desktop with flexbox */

/* footer base styles */
footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/* ====================================================================== */
/* tablet sized screens */
@media screen and (min-width: 768px) {
  /* header */
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }

  header h1 {
    flex: 0 1 100%

  }

  .nav--main {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
  }

  .nav--main a {
    /* remove mobile styles */
    background-color: inherit;
    flex-basis: 100px;
    /* undo margins set by main.css */
    margin: 0;
  }

  .image--profile {
    flex-basis: 25%;
    width: 33%;
    margin: 2em 0;
    order: 1;
    
  }

  .text--profile {
    flex-basis: 55%;
    text-align: left;
  }

  /* main */
  #portfolio {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  #portfolio h2 {
    flex-basis: 100%;
  }

  article {
    flex-basis: 48%;
  }

  #skills ul {
    display: flex;
    justify-content: center;
  }
  #skills li {
    margin: 0 3%;
  }

  footer nav {
    display: flex;
    flex-basis: 55%;
    justify-content: space-between;
  }

  footer nav a {
    display: block;
    flex-basis: 100px;
    text-align: center;
  }

  footer nav a:nth-child(1) {
    display: none;
  }
}

/* ====================================================================== */
/* desktop sized screens */
@media screen and (min-width: 1024px) { 
  body {
    /* keep layout from getting too wide */
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
  }

   /* header */
  header h1, .nav--main {
    flex-basis: 45%;
  }

  header h1 {
    text-align: left;
  }

  .nav--main {
    align-self: center;
    justify-content: flex-end;
  }
  .text--profile {
    flex-basis: 65%;
  }
  /* main */
  article {
    /* make a 3 column layout for desktop view */
    flex-basis: 32%;
  }
}