/* base styles and majority of mobile layout */

@import url('https://fonts.googleapis.com/css?family=Lato:300,400,900');

/* helpers */
.bold {
  font-weight: 900;
}

/* base */
* {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: whitesmoke;
}

h1, h2, h3 {
  text-align: center;
}

h3 {
  font-size: 1.75em;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  text-align: center;
  font-size: 1.3em;
}

li + li {
  margin-top: 1em;
}

p {
  text-align: center;
  color: gray;
  font-weight: 300;
  font-size: 1.3em;
  line-height: 1.3em;
  padding-left: 1em;
  padding-right: 1em;
}

img {
  display: block;
}

nav a {
  color: darkslategrey;
  text-transform: uppercase;
  font-weight: 900;
  text-decoration: none;
  /* CSS transition to ease effect */
  transition: color 0.4s ease-in;
}

nav a:hover {
  color: darkorchid;
}

/* header */
header {
  padding: 2em;
}

.nav--main a {
  /* nav button styling */
  display: block;
  margin: .4em auto 0 auto;
  padding: 15px;
  width: 86%;
  background-color: white;
  text-align: center;
  border-radius: 5px;
}

.image--profile {
  margin: 4em auto 0;
  width: 65%;
}

.text--profile {
  font-size: 1.5em;
  line-height: 1.4em;
  padding-left: 0;
}


/* main */
main h2 {
  text-transform: uppercase;
}

section {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

section + section {
  margin-top: 4em;
}

#portfolio {
  background-color: white;
  padding-top: 3em;
  padding-bottom: 3em;
}

article {
  width: 100%;
  margin: 4em auto 0;
}

article img {
  width: 100%;
}

#contact ul {
  padding-bottom: 5em;
  border-bottom: 2px solid darkgray;
}

/* footer */
footer {
  padding: .5em 1.5em;
}

footer h2 {
  font-size: 1.0em;
}

footer nav a {
  display: none;
}

footer nav a:nth-child(1) {
  display: block;
}
